body {
    background-color: #ffd39a;
}

#map {
    height: 97dvh;
    background-color: #A1CC67;
}

.map-title {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 5px 10px;
    border-radius: 5px;
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-size: clamp(10px, 2vw, 20px);
    color: #333;
    z-index: 1000;
}

.key {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-size: clamp(10px, 2vw, 16px);
    z-index: 1000;
}

.key h3 {
    margin-top: 0;
    margin-bottom: 5px;
}

.key p {
    margin-top: 2px;
    margin-bottom: 2px;
    line-height: 1.2;
}

.key-color {
    display: inline-block;
    height: 10px;
    width: 10px;
    margin-right: 5px;
}

.pin {
    position: relative;
}

.pin-top {
    position: absolute;
    border-radius: 50%;
    border-width: 8px;
    border-style: solid;
    width: 8px;
    height: 8px;
}

.pin-bottom {
    position: absolute;
    width: 0;
    height: 0;
    bottom: -45px;
    left: 2px;
    border: 10px solid transparent;
    border-top-width: 17px;
}

.pin-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pin-title {
    font-weight: bold;
}

.pin-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.pin-image {
    float: none;
    margin-left: 10px;
    max-width: 50%;
}